html {
    overflow-y:scroll;
}

table{
	table-layout:fixed;
}

td {
	word-wrap:break-word;
}

a.colorbox img{
	border:solid thin lightgrey;
	display: block;
	margin: 0 auto;
}

.highlight {
	background-color: #FFFF88;
}

