<!DOCTYPE html>
<html>

<head>

{% block title %}
<title></title>
{% endblock %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<script src="/static/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/code-prettify/loader/prettify.css">
<script src="/static/code-prettify/loader/prettify.js"></script>
<link rel="stylesheet" href="/static/colorbox/colorbox.css">
<script src="/static/colorbox/jquery.colorbox-min.js"></script>
{% block script %}
<script>
$(document).ready(
        function(){
                $('a.colorbox').colorbox({'photo':true});
		prettyPrint();
	}
);
</script>
{% endblock %}
<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

<div class="container">

{% block header %}

<nav class="navbar navbar-inverse">
<div class="navbar-header col-md-1">
<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
</div>
<div class="col-md-11">
<ul class="nav navbar-nav">
{% if user.is_authenticated %}
<li><a data-toggle="modal" data-target="#register_form">Register URL</a></li>
{% endif %}
<li><a href="/search">Search</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
<li><a href="/accounts/user/"><span class="glyphicon glyphicon-user"></span>{{user.username}}</a></li>
<li><a href="/accounts/logout/?next={{redirect}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% else %}
<li><a data-toggle="modal" data-target="#auth_form"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
{% endif %}
</ul>
</div>
</nav>
{% endblock %}

<div id="auth_form" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
      
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Authentication</h4>
</div><!--.modal-header-->

<div class="modal-body">
<form method="post" action="/accounts/login/?next={{redirect}}">{% csrf_token %}
<table class="table">
<thead><tr>
<td class="col-md-2"></td>
<td></td>
</tr></thead>
{{authform.as_table}}
</table>
<input type="submit" class="btn" name="login" value="login">
</form>
</div><!--.modal-body-->

</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--.register_form-->


<div id="register_form" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
      
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Register URL</h4>
</div><!--.modal-header-->

<div class="modal-body">
<form method="post" action="/">{% csrf_token %}
<table class="table">
<thead><tr>
<td class="col-md-2"></td>
<td></td>
</tr></thead>
{{form.as_table}}
</table>
<input type="submit" class="btn" name="register" value="submit">
</form>
</div><!--.modal-body-->

</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--.register_form-->

{% if messages %}
<div class="alert alert-warning">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% block container %}
{% endblock %}

</div>

</body>

</html>
