<!DOCTYPE html>
<html>

<head>

{% block title %}
<title></title>
{% endblock %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/code-prettify/loader/prettify.css">
<script src="/static/code-prettify/loader/prettify.js"></script>

<script type="text/javascript" charset="utf8" src="/static/datatables/js/jquery.js"></script>

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/datatables/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="/static/datatables/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf8" src="/static/datatables/js/dataTables.bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/colorbox/colorbox.css">
<script src="/static/colorbox/jquery.colorbox-min.js"></script>

<link href="/static/flag-icon-css/assets/docs.css" rel="stylesheet">
<link href="/static/flag-icon-css/css/flag-icon.css" rel="stylesheet">
<script src="/static/flag-icon-css/assets/docs.js"></script>

<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

{% block script %}
<script>
$(document).ready(
        function(){
                $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                });
                $('a.colorbox').colorbox({'photo':true});
		prettyPrint();
	}
);
</script>
{% endblock %}
<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

<div class="container">

{% block header %}

<nav class="navbar navbar-inverse">
<div class="navbar-header col-md-1">
<a class="navbar-brand" href="/"><i class="fa fa-home fa-lg"></i></a>
</div>
<div class="col-md-11">
<ul class="nav navbar-nav">
{% if user.is_authenticated %}
<li><a data-toggle="modal" data-target="#register_form">Register URL</a></li>
{% endif %}
<li><a href="/search/"><i class="fa fa-search"></i>Search</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
<li><a href="/accounts/user/"><i class="fa fa-user"></i>{{user.username}}</a></li>
<li><a href="/accounts/logout/?next={{redirect}}"><i class="fa fa-sign-out"></i> Logout</a></li>
{% else %}
<li><a data-toggle="modal" data-target="#auth_form"><i class="fa fa-sign-in"></i>Login</a></li>
{% endif %}
</ul>
</div>
</nav>
{% endblock %}

<div id="auth_form" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
      
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Authentication</h4>
</div><!--.modal-header-->

<div class="modal-body">
<form method="post" action="/accounts/login/?next={{redirect}}">{% csrf_token %}
<table class="table">
<thead><tr>
<td class="col-md-2"></td>
<td></td>
</tr></thead>
{{authform.as_table}}
</table>
<input type="submit" class="btn" name="login" value="login">
</form>
</div><!--.modal-body-->

</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--.register_form-->


<div id="register_form" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
      
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Register URL</h4>
</div><!--.modal-header-->

<div class="modal-body">
<form method="post" action="/">{% csrf_token %}
<table class="table table-condensed" width="300px" style="width:300px;">
{{form.as_table}}
</table>
<input type="submit" class="btn" name="register" value="submit">
</form>
</div><!--.modal-body-->

</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--.register_form-->

{% if messages %}
<div >
<ul class="messages list-group">
    {% for message in messages %}
    <li{% if message.tags %} class="list-group-item list-group-item-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% block container %}
{% endblock %}

</div>

</body>

</html>
