{% extends "base.html" %}

{% block title %}
<title>Index</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(
        function(){
                $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                } );
                $('#query_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'query_data' %}",
                    "order":[0, 'desc'],
                });
                $('#job_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'job_data' %}",
                    "order":[0, 'desc'],
                });
                $('#dns_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'dns_data' %}",
                    "order":[0, 'desc'],
                });
                $('#whois_domain_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'whois_domain_data' %}",
                    "order":[0, 'desc'],
                });
                $('#whois_ip_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'whois_ip_data' %}",
                    "order":[0, 'desc'],
                });
                $('#host_info_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'host_info_data' %}",
                    "order":[0, 'desc'],
                });
                $('#ua_table').dataTable({
                    "processing": true,
                    "serverSide": true,  
                    "ajax": "{% url 'ua_data' %}",
                    "order":[0, 'desc'],
                });
		$('a.colorbox').colorbox({'photo':true});
        }
);
</script>
{% endblock %}


{% block container %}

<div class="row">

<div id="list" class="col-md-12">

<ul class="nav nav-pills">
<li class="active"><a data-toggle="tab" href="#query">Query</a></li>
<li><a data-toggle="tab" href="#job">Job</a></li>
<li><a data-toggle="tab" href="#dns">DNS</a></li>
<li><a data-toggle="tab" href="#whois_domain">Whois(Domain)</a></li>
<li><a data-toggle="tab" href="#whois_ip">Whois(IP)</a></li>
<li><a data-toggle="tab" href="#host_info">Host_Info</a></li>
<li><a data-toggle="tab" href="#ua">User Agent</a></li>
</ul>

<div class="tab-content">

<div id="query" class="panel panel-primary tab-pane in active">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="query_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-3">input</th>
<th class="col-md-3">updated_at</th>
<th class="col-md-1">interval</th>
<th class="col-md-1">counter</th>
<th class="col-md-1">status</th>
<th class="col-md-2">capture</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->

<div id="job" class="panel panel-primary tab-pane">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="job_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr>
<th class="col-md-1" style="width:100px">id</th>
<th class="col-md-3">created_at</th>
<th class="col-md-4">query</th>
<th class="col-md-2">result</th>
<th class="col-md-2">capture</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->

<div id="whois_domain" class="panel panel-primary tab-pane">
<div class="panel-heading"></div>
<div class="panel-body">
<div>
<form method="post">{% csrf_token %}
{{iform}}
<input type="submit" name="whois_domain" value="whois">
</form>
<hr>
</div>
<table id="whois_domain_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr >
<th class="col-md-1" >id</th>
<th class="col-md-2">creation_date</th>
<th class="col-md-2">updated_date</th>
<th class="col-md-2">domain</th>
<th class="col-md-5">contact</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->

<div id="dns" class="panel panel-primary tab-pane">
<div class="panel-heading"></div>
<div class="panel-body">
<div>
<form method="post">{% csrf_token %}
{{iform}}
<input type="submit" name="dns_resolve" value="resolve">
</form>
<hr>
</div>
<table id="dns_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-3">first_seen</th>
<th class="col-md-2">query</th>
<th class="col-md-2">A</th>
<th class="col-md-4">TXT</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->


<div id="host_info" class="panel panel-primary tab-pane">
<div class="panel-heading"></div>
<div class="panel-body">
<div>
<form method="post">{% csrf_token %}
{{iform}}
<input type="submit" name="host_inspect" value="inspect">
</form>
<hr>
</div>
<table id="host_info_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-2">first_seen</th>
<th class="col-md-2">last_seen</th>
<th class="col-md-1">hostname</th>
<th class="col-md-2">ip</th>
<th class="col-md-2">domain_dns</th>
<th class="col-md-2">domain_whois</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->

<div id="whois_ip" class="panel panel-primary tab-pane">
<div class="panel-heading"></div>
<div class="panel-body">
<div>
<form method="post">{% csrf_token %}
{{iform}}
<input type="submit" name="whois_ip" value="whois">
</form>
<hr>
</div>
<table id="whois_ip_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-2">creation_date</th>
<th class="col-md-2">updated_date</th>
<th class="col-md-2">ip</th>
<th class="col-md-1">country</th>
<th class="col-md-4">description</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->

<div id="ua" class="panel panel-primary tab-pane">
<div class="panel-heading"></div>
<div class="panel-body">
{% if user.is_authenticated %}
<div>
<form method="post">{% csrf_token %}
{{uaform}}
<input type="submit" name="create_ua" value="Create">
</form>
<hr>
</div>
{% endif %}
<table id="ua_table" class="table table-striped table-hover display" cellspacing="0" width="100%">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-3">name</th>
<th class="col-md-8">strings</th>
</tr></thead>
</table>
</div>
</div><!--.panel-->

</div><!--.tab-content-->

</div><!--.list-->

</div><!--.row-->

{% endblock %}
