{% extends "base.html" %}

{% block title %}
<title>Job</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(
        function(){
                $('#resource_table').DataTable({"order":[0, 'desc']});
		$("a.colorbox").colorbox();
        }
);
</script>
{% endblock %}

{% block container %}

<div class="row">

<div id="job" class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">Job</div>
<div class="panel-body">

<div class="col-md-6">
<table id="job_table" class="table table-condensed">
<tr><th class="col-md-3">Job/Query</th><td><a class="btn btn-md btn-primary" href="/job/{{j.id}}">{{j.id}}</a>
<a class="btn btn-md btn-default" href="/query/{{j.query.id}}">{{j.query.id}}</a></td></tr>
<tr><th>input</th><td>{{j.query.input}}</td></tr>
<tr><th>status</th><td>{{j.status}}</td></tr>
<tr><th>created_at</th><td>{{j.created_at|date:"c"}}</td></tr>
<tr><th>updated_at</th><td>{{j.updated_at|date:"c"}}</td></tr>
</table>
</div>

<div class="col-md-6">
<table id="req_table" class="table table-condensed">
<tr><th>Request</th></tr>
<tr><th>user_agent</th><td>{{j.user_agent}}</td></tr>
<tr><th>referer</th><td>{{j.referer}}</td></tr>
<tr><th>proxy</th><td>{{j.proxy}}</td></tr>
<tr><th>additional_headers</th><td>{{j.additional_headers}}</td></tr>
<tr><th>method</th><td>{{j.method}}</td></tr>
<tr><th>post_data</th><td>{{j.post_data}}</td></tr>
</table>
</div>

</div><!--.panel-body-->
</div><!--panel-->
</div>

{% if p %}
<div id="page" class="col-md-12">

<div class="panel panel-info">
<div class="panel-heading">Page</div>
{% if p.resource.http_status in "403 404" %}
<div class="panel-body" style="background-color:lightgrey;">
{% else %}
<div class="panel-body">
{% endif %}
<table id="page_table" class="table table-condensed ">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-2">created_at</th>
<th>url</th>
<th>ip</th>
<th class="col-md-1">status</th>
<th class="col-md-1">type</th>
<th class="col-md-1">length</th>
<th>capture</th>
</tr></thead>
<tbody><tr>
<td><a class="btn btn-md btn-info" href="/page/{{p.resource.id}}">{{p.resource.id}}</a></td>
<td>{{p.resource.created_at|date:"c"}}</td>
<td>{{p.resource.url}}</td>
<td>
{% for i in p.host_info.ip_whois.all %}
<img src="/static/images/flags/{{i.whois.country|lower}}.png" title="{{i.whois.country}}">{{i.ip}}<br>
{% endfor %}
</td>
<td>{{p.resource.http_status}}</td>
<td>{{p.resource.content.type}}</td>
<td>{{p.resource.content.length}}</td>
<td>
<a class="colorbox" href="/{{p.resource.capture.path}}">
<img src="data:image/png;base64,{{p.resource.capture.b64thumb}}"></a></td>
</tr></tbody>
</table>
</div><!--.panel-body-->

</div><!--.panel-->

</div><!--.page-->
{% endif %}

{% if resource %}
<div id="resource" class="col-sm-12">

<div class="panel panel-default">
<div class="panel-heading">
Resource(total:{{resource|length}})</div>
<div class="panel-body">
<table class="table table-condensed table-hover " style="table-layout: fixed;">
<thead><tr>
<th class="col-md-1">seq</th>
<th class="col-md-1">id</th>
<th class="col-md-2">timestamp</th>
<th class="col-md-2">url</th>
<th class="col-md-2">ip</th>
<th class="col-md-1">status</th>
<th class="col-md-1">type</th>
<th class="col-md-1">length</th>
<th class="col-md-1">content</th>
</tr></thead>
<tbody>
{% for r in resource %}
{% if r.job_resource.resource.http_status in "403 404"%}
<tr style="background-color:lightgrey;">
{% elif r.job_resource.resource.url == p.resource.url %}
<tr class="info">
{% elif r.job_resource.resource.url.hostname == p.resource.url.hostname %}
<tr class="warning">
{% else %}
<tr>
{% endif %}
<td><a class="btn btn-md btn-default">{{r.seq}}</a></td>
<td><a class="btn btn-md btn-primary" href="/resource/{{r.job_resource.resource.id}}">{{r.job_resource.resource.id}}</a></td>
<td>{{r.job_resource.timestamp|date:"c"}}</td>
<td>{{r.job_resource.resource.url}}</td>
<td>
{% for i in r.job_resource.host_info.ip_whois.all %}
<img src="/static/images/flags/{{i.whois.country|lower}}.png" title="{{i.whois.country}}">{{i.ip}}<br>
{% endfor %}
</td>
<td>{{r.job_resource.resource.http_status}}</td>
<td>{{r.job_resource.resource.content.type}}</td>
<td>{{r.job_resource.resource.content.length}}</td>
<td>
{% if r.job_resource.resource in j.new.all %}new
{% elif r.job_resource.resource in j.changed.all %}changed
{% elif r.job_resource.resource in j.not_changed.all %}not changed

{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--.panel-body-->

</div><!--.panel-->

</div><!--.resource-->
{% endif %}

</div><!--.row-->

{% endblock %}
