{% extends "base.html" %}

{% block title %}
<title>
{% if info.resource.is_page %}Page{% else %}Resource{% endif %}
</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(
        function(){
                $('a.colorbox').colorbox({'photo':true});
                $('#job_table').DataTable({"order":[0, 'desc']});
		prettyPrint();
        }
);
</script>
{% endblock %}

{% block container %}

<div class="row">

<div id="page" class="col-md-12">

<div class="panel panel-primary ">
<div class="panel-heading">
{% if info.resource.is_page %}Page{% else %}Resource{% endif %} Information
</div>
<div class="panel-body">

<div class="col-md-6">
<table class="table table-condensed ">
<tr><th class="col-md-3">
{% if info.resource.is_page %}Page{% else %}Resource{% endif %}
</th>
<td><a class="btn btn-primary" href="/page/{{info.resource.id}}">{{info.resource.id}}</a></td></tr>
<tr><th>Created at</th><td>{{info.resource.created_at|date:"c"}}</td></tr>
<tr><th>URL</th><td>{{info.resource.url}}</td></tr>
<tr><th >Status</th><td>{{info.resource.http_status}}</td></tr>
<tr><th >Webapp</th>
<td>
{% for w in info.webapp.all %}
{{w}}<br>
{% endfor %}
</td></tr>
</table>
</div>

<div class="col-md-6">
<table class="table table-condensed">
<tbody>
<tr><th class="col-md-3">timestamp</th><td>{{info.timestamp|date:"c"}}</td></tr>
<tr><th>dns</th><td><a href="/dns/{{info.host_info.domain_dns.id}}">{{info.host_info.domain_dns.query}}</a></td></tr>
<tr><th>whois</th><td><a href="/whois_domain/{{info.host_info.domain_whois.id}}">{{info.host_info.domain_whois.domain}}</a></td></tr>
<tr><th >ip</th>
<td>
{% for i in info.host_info.ip_whois.all %}
<img src="/static/images/flags/{{i.country|lower}}.png" title="/static/images/flags/{{i.country|lower}}"><a href="/whois_ip/{{i.id}}">{{i.ip}}</a><br>
{% endfor %}
</td></tr>
</tbody>
</table>
</div>

</div><!--.panel-body-->
</div><!--.panel-->

</div><!--.page-->

<div id="Job" class="col-md-12">

<div class="panel panel-primary">
<div class="panel-heading">
Job
</div>
<div class="panel-body">
<table id="job_table" class="table table-condensed">
<thead>
<tr>
<th class="col-md-1">Job</th>
<th class="col-md-1">Query</th>
<th class="col-md-2">timestamp</th>
<th class="col-md-2">status</th>
</tr>
</thead>
<tbody>
{% for j in job %}
<tr>
<td><a class="btn btn-primary" href="/job/{{j.id}}">{{j.id}}</a></td>
<td><a class="btn btn-default" href="/query/{{j.query.id}}">{{j.query.id}}</a></td>
<td>{{j.created_at|date:"c"}}</td>
<td>{{j.status}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div><!--.panel-->



<div id="headers" class="col-md-12">

<div class="panel panel-primary">
<div class="panel-heading">
Header
</div>
<div class="panel-body">
<pre class="prettyprint linenums" style="white-space: pre-wrap;">{% for k,v in headers.items %}{{k}}: {{v}}
{% endfor %}</pre>
</div>
</div><!--.panel-->

</div><!--.headers-->

{% if analysis %}
<div id="analysis" class="col-md-12">

<div class="panel panel-primary">
<div class="panel-heading">
Analysis
</div>
<div class="panel-body">
<table class="table">
<tr><th class="col-md-1">content_id</th><td>{{analysis.content.id}}</td></tr>
<tr><th>rule</th><td>{% for r in rule %}{{r}}
{% endfor %}</td></tr>
<tr><th>tag</th><td>{% for t in tags %}{{t}}
{% endfor %}</td></tr>
<tr><th>matched</th><td>{% for m in matched %}{{m}}
{% endfor %}</td></tr>
<tr><th>behavior</th><td><pre class="prettyprint linenums" style="white-space: pre-wrap;">
{{analysis.result}}
</pre></td></tr>
</table>
</div>
</div><!--.panel-->

</div><!--.analysis-->
{% endif %}


<div id="content" class="col-md-12">

<div class="panel panel-primary">
<div class="panel-heading">
Content
</div>
<div class="panel-body">
<form method="post" action="/page/{{p.id}}">{% csrf_token %}
<input type="submit" value="analysis" name="analysis">
<!--<input type="submit" value="wappalyze" name="wappalyze">-->
</form>
<table class="table">
<tr><th  class="col-md-1">id</th><td>{{info.resource.content.id}}</td></tr>
<tr><th>created_at</th><td>{{info.resource.content.created_at|date:"c"}}</td></tr>
<tr><th>type</th><td>{{info.resource.content.type}}</td></tr>
<tr><th>lengtht</th><td>{{info.resource.content.length}}</td></tr>
<tr><th>md5</th><td>{{info.resource.content.md5}}</td></tr>
<tr><th>sha1</th><td>{{info.resource.content.sha1}}</td></tr>
<tr><th>sha256</th><td>{{info.resource.content.sha256}}</td></tr>
<tr><th>path</th><td>{{info.resource.content.path}}</td></tr>
<tr><th>commit</th><td>{{info.resource.content.commit}}</td></tr>
</table>
<pre class="prettyprint linenums" style="white-space: pre-wrap;">{{info.resource.content.content}}</pre>
</div>
</div><!--.panel-->

</div><!--.content-->


</div><!--.row-->

{% endblock %}
