{% extends "base.html" %}

{% block title %}
<title>Progress</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
	var load_progress = function(){
		status = $("div#status").text();
		if(status == "Processing"){
		var data = {
			"job[]":[{% for j in job %}{{j.id}},{% endfor %}]
		};
		$.get('/progress/', data, function(result){
			v = $(result).find("div#view");
			$("div#view").replaceWith(v);
		});
		};
		$("a.colorbox").colorbox();
	};
	setInterval(load_progress, 3000);
});
</script>
{% endblock %}

{% block container %}

<div id="view" class="row">

<div class="col-md-5">

<div id="progress" class="panel panel-primary">
<div class="panel-heading">Status</div>
<div class="panel-body">
<div class="row">
<div id="status" class="col-md-4">{{status}}</div>
<div id="loader" class="col-md-4">
{% if status != "Finished" %}
<img src="/static/images/ajax-loader.gif">
{% endif %}
</div>
</div>
</div><!--.panel-body-->
</div><!--progress-->

<div id="job" class="panel panel-primary">
<div class="panel-heading">
Job
</div>
<div class="panel-body">
<table class="table table-striped table-hover" >
<thead><tr>
<th class="col-md-2">id</th>
<th>input</th>
<th>status</th>
</tr></thead>
<tbody>{% for j in job %}
<tr>
<td class="job_id"><a class="btn btn-primary" href="/job/{{j.id}}">{{j.id}}</a></td>
<td>{{j.query.input}}</td>
<td>{{j.status}}</td>
</tr>
{% endfor %}</tbody>
</table>

</div><!--.panel-body-->

</div><!--panel-->

</div><!--.query-->

<div id="page" class="col-md-7">

<div class="panel panel-primary">
<div class="panel-heading">
Page
</div>
<div class="panel-body">
<table class="table table-striped table-hover ">
{% for j in job %}
<tr>
<td>
<table class="table table-condensed">
<tr><th class="col-md-3">job/page</th>
<td>
<a class="btn btn-default" href="/job/{{j.id}}">{{j.id}}</a>
<a class="btn btn-primary" href="/page/{{j.page.id}}">{{j.page.id}}</a>
</td></tr>
<tr><th>url</th><td>{{j.page.url}}</td></tr>
<tr><th >status</th><td>{{j.page.http_status}}</td></tr>
<tr><th>ip</th><td>
{% for i in j.page.host_info.ip_whois.all %}
{{i.ip}}<img title="{{i.country}}" src="/static/images/flags/{{i.country|lower}}.png"><br>
{% endfor %}
</td></tr>
</table>
</td>
<td>
<a class="colorbox" href="/{{j.capture.path}}">
<img src="data:image/png;base64,{{j.capture.b64thumb}}"></a></td>
</tr>
{% endfor %}
</table>
</div><!--.panel-body-->

</div><!--.panel-->

</div><!--.page-->

</div><!--.row-->

{% endblock %}
