{% extends "base.html" %}

{% block title %}
<title>Query</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(
        function(){
		$('#job_table').DataTable({"order":[0, 'desc']});
		$('#page_table').DataTable({"order":[0, 'desc']});
		$('a.colorbox').colorbox({'photo':true});
        }
);
</script>
{% endblock %}

{% block container %}

<div class="row">

<div id="query" class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">Query</div>
<div class="panel-body">
<div class="row">
<div class="col-md-6">
<table class="table ">
<tr><th class="col-md-3">id</th><td><a class="btn btn-md btn-primary" href="/query/{{q.id}}">{{q.id}}</a></td></tr>
<tr><th>input</th><td>{{q.input}}</td></tr>
<tr><th>registered_by</th><td>{{q.registered_by}}</td></tr>
<tr><th >created_at</th><td>{{q.created_at|date:"c"}}</td></tr>
<tr><th >updated_at</th><td>{{q.updated_at|date:"c"}}</td></tr>
</table>
</div><!--table-->
<div class="col-md-6">
<form method="post" >{% csrf_token %}
<table class="table">
{{cform.as_table}}
</table>
<button type="submit" class="btn btn-md btn-info" value="update" name="update">Update</button>
<button type="button" class="btn btn-md btn-warning" data-toggle="modal" data-target="#modal_run">Run Query</button>
<button type="button" class="btn btn-md btn-danger " data-toggle="modal" data-target="#modal_delete">Delete Query</button>
</form>
</div><!--form-->
</div><!--.row-->
</div><!--.panel-body-->
</div><!--.panel-->

<div id="modal_run" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Run Query</h4>
</div><!--.modal-header-->
<div class="modal-body">
<form method="post" action="/query/{{q.id}}" >{% csrf_token %}
<table class="table">
<th class="col-md-3"></th><td></td>
{{qrform.as_table}}
</table>
<input type="submit" class="btn" name="run" value="run">
</form>
</div><!--.modal-body-->
</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--modal_run-->


<div id="modal_delete" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Delete Query</h4>
</div><!--.modal-header-->
<div class="modal-body">
Are you sure?
<form method="post" action="/query/{{q.id}}" >{% csrf_token %}
<input type="submit" class="btn" name="delete" value="Delete">
</form>
</div><!--.modal-body-->
</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--modal_delete-->


</div><!--.query-->

<div id="list" class="col-md-12">

<ul class="nav nav-pills">
<li class="active"><a data-toggle="pill" href="#page">Page({{page|length}})</a></li>
<li><a data-toggle="pill" href="#job">Job({{job|length}})</a></li>
</ul>

<div class="tab-content">

<div id="job" class="panel panel-primary tab-pane ">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="job_table" class="table table-condensed table-striped table-hover">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-2">created_at</th>
<th class="col-md-2">status</th>
<th>new</th>
<th>out</th>
<th>changed</th>
<th>not_changed</th>
</tr></thead>
<tbody>{% for j in job %}
<tr>
<td><a class="btn btn-md btn-primary" href="/job/{{j.id}}">{{j.id}}</td>
<td>{{j.created_at|date:"c"}}</td>
<td>{{j.status}}</td>
<td>{{j.new|length}}</td>
<td>{{j.out|length}}</td>
<td>{{j.changed|length}}</td>
<td>{{j.not_changed|length}}</td>
</tr>
{% endfor %}</tbody>
</table>
</div><!--.panel-body-->
</div><!--job-->

<div id="page" class="panel panel-primary tab-pane in active">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="page_table" class="table table-condensed table-striped table-hover ">
<thead>
<tr>
<th class="col-md-1">id</th>
<th class="col-md-2">created_at</th>
<th class="col-md-2">url</th>
<th class="col-md-2">ip</th>
<th class="col-md-1">status</th>
<th class="col-md-1">type</th>
<th class="col-md-1">length</th>
<th class="col-md-2">capture</th>
</tr>
</thead>
<tbody>
{% for p in page %}
{% if p.resource.http_status == "404" or p.resource.http_status == "403" %}
<tr style="background-color:grey">
{% else %}
<tr>
{% endif %}
<td><a class="btn btn-md btn-primary" href="/page/{{p.resource.id}}">{{p.resource.id}}</td>
<td>{{p.resource.created_at|date:"c"}}</td>
<td>{{p.resource.url}}</td>
<td>
{% for i in p.ip_whois.all %}
<img src="/static/images/flags/{{i.whois.country|lower}}.png">{{i.ip}}<br>
{% endfor %}
</td>
<td>{{p.resource.http_status}}</td>
<td>{{p.resource.content.type}}</td>
<td>{{p.resource.content.length}}</td>
<td><a class="colorbox" href="/{{p.resource.capture.path}}"><img src="data:image/png;base64,{{p.resource.capture.b64thumb}}"></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--.panel-body-->
</div><!--page-->

</div><!--.tab-content-->

</div><!--.list-->

</div><!--.row-->

{% endblock %}
