{% extends "base.html" %}

{% block title %}
<title>Query</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(
        function(){
		$('#job_table').DataTable({"order":[0, 'desc']});
		$('#page_table').DataTable({"order":[0, 'desc']});
		$('a.colorbox').colorbox({'photo':true});
        }
);
</script>
{% endblock %}

{% block container %}

<div class="row">

<div id="query" class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">Query</div>
<div class="panel-body">
<table class="table table-condensed ">
<thead><tr>
<th>id</th>
<th>created_at</th>
<th>input</th>
</tr></thead>
<tr>
<td><a class="btn btn-sm btn-primary" href="/query/{{q.id}}">{{q.id}}</td>
<td>{{q.created_at}}</td>
<td>{{q.input}}</td>
<td>
<form method="post">{% csrf_token %}
<button type="button" class="btn btn-sm btn-info " data-toggle="modal" data-target="#modal_run">Run</button>
<button type="button" class="btn btn-sm btn-danger " data-toggle="modal" data-target="#modal_delete">Delete</button>
</form>
</td>
</tr>
</table>
</div><!--.panel-body-->
</div><!--.panel-->

<div id="modal_run" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Run Query</h4>
</div><!--.modal-header-->
<div class="modal-body">
Are you sure?
<form method="post" action="/query/{{q.id}}" >{% csrf_token %}
<input type="submit" class="btn" name="run" value="run">
</form>
</div><!--.modal-body-->
</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--modal_run-->


<div id="modal_delete" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Delete Query</h4>
</div><!--.modal-header-->
<div class="modal-body">
Are you sure?
<form method="post" action="/query/{{q.id}}" >{% csrf_token %}
<input type="submit" class="btn" name="delete" value="delete">
</form>
</div><!--.modal-body-->
</div><!--.modal-content-->
</div><!--.modal-dialog-->
</div><!--modal_delete-->


</div><!--.query-->

<div id="list" class="col-md-12">

<ul class="nav nav-pills">
<li class="active"><a data-toggle="pill" href="#page">Page({{page|length}})</a></li>
<li><a data-toggle="pill" href="#job">Job({{job|length}})</a></li>
</ul>

<div class="tab-content">

<div id="job" class="panel panel-primary tab-pane ">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="job_table" class="table table-condensed table-striped table-hover">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-2">created_at</th>
<th class="col-md-5">status</th>
<th>new</th>
<th>out</th>
<th>changed</th>
<th>not_changed</th>
</tr></thead>
<tbody>{% for j in job %}
<tr>
<td><a class="btn btn-sm btn-primary" href="/job/{{j.id}}">{{j.id}}</td>
<td>{{j.created_at}}</td>
<td>{{j.status}}</td>
<td>{{j.new|length}}</td>
<td>{{j.out|length}}</td>
<td>{{j.changed|length}}</td>
<td>{{j.not_changed|length}}</td>
</tr>
{% endfor %}</tbody>
</table>
</div><!--.panel-body-->
</div><!--job-->

<div id="page" class="panel panel-primary tab-pane in active">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="page_table" class="table table-condensed table-striped table-hover ">
<thead>
<tr>
<th class="col-md-1">id</th>
<th>created_at</th>
<th>url</th>
<th class="col-md-1">status</th>
<th class="col-md-2">type</th>
<th class="col-md-1">length</th>
<th>capture</th>
</tr>
</thead>
<tbody>
{% for p in page %}
<tr>
<td><a class="btn btn-sm btn-primary" href="/page/{{p.id}}">{{p.id}}</td>
<td>{{p.created_at}}</td>
<td>{{p.url}}</td>
<td>{{p.http_status}}</td>
<td>{{p.content.type}}</td>
<td>{{p.content.length}}</td>
<td><a class="colorbox" href="/{{p.capture.path}}"><img src="data:image/png;base64,{{p.capture.b64thumb}}"></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--.panel-body-->
</div><!--page-->

</div><!--.tab-content-->

</div><!--.list-->

</div><!--.row-->

{% endblock %}
