{% extends "base.html" %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block script %}
<script>
$(document).ready(
        function(){
		$('#resource_table').DataTable({"order":[0, 'desc']});
		$('a.colorbox').colorbox({'photo':true});
        }
);
</script>
{% endblock %}

{% block container %}

<div class="row">

<div class="col-md-12">

<div class="panel panel-primary">
<div class="panel-heading">Query</div>
<div class="panel-body">

<div id="sform" class="col-md-12">
<form method="post" >{% csrf_token %}
<table class="table">
{{sform.as_table}}
</table>
<button type="search" class="btn btn-md btn-info" value="search" name="search">Search</button>
</form>
</div><!--sform-->

</div><!--.row-->

</div><!--.panel-body-->
</div><!--.panel-->

</div>

<div id="list" class="col-md-12">

<ul class="nav nav-pills">
<li class="active"><a data-toggle="pill" href="#resource">Resource({{resource|length}})</a></li>
</ul>

<div class="tab-content">

<div id="resource" class="panel panel-primary tab-pane in active">
<div class="panel-heading"></div>
<div class="panel-body">
<table id="resource_table" class="table table-condensed table-striped table-hover">
<thead><tr>
<th class="col-md-1">id</th>
<th class="col-md-2">created_at</th>
<th class="col-md-2">url</th>
<th class="col-md-2">ip</th>
<th class="col-md-1">status</th>
<th class="col-md-1">length</th>
</tr></thead>
<tbody>{% for r in resource %}
{% if r.resource.http_status in "403 404" %}
<tr style="background-color:lightgrey">
{% else %}
<tr>
{% endif %}
<td><a class="btn btn-md btn-primary" href="/resource/{{r.id}}">{{r.id}}</td>
<td>{{r.resource.created_at|date:"c"}}</td>
<td>{{r.resource.url}}</td>
<td>
{% for i in r.host_info.ip_whois.all %}
<img src="/static/images/flags/{{i.country|lower}}.png">{{i.ip}}<br>
{% endfor %}
</td>
<td>{{r.resource.http_status}}</td>
<td>{{r.resource.content.length}}</td>
</tr>
{% endfor %}</tbody>
</table>
</div><!--.panel-body-->
</div><!--job-->


</div><!--.tab-content-->

</div><!--.list-->

</div><!--.row-->

{% endblock %}
